:root {
    /* Vert nature (#4CAF50) : Représente la fraîcheur et la santé.
    Orange vitaminé (#FF9800) : Inspire l’énergie et l’équilibre.
    Blanc pur (#FFFFFF) : Symbolise la clarté et la simplicité.
    Gris doux (#9E9E9E) : Apporte une touche de modernité et d’élégance. */
    --color-green: #4CAF50;
    --color-orange: #FF9800;
    --color-white: #FFFFFF;
    --color-grey: #9E9E9E;
    --color-grey-alpha: #9e9e9e5b;

    --spacing-xxs: .25rem;
    --spacing-xs: .5rem;
    --spacing-s: .75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.25rem;
    --spacing-xl: 1.5rem;
    --spacing-xxl: 1.75rem;
    --spacing-xxxl: 2rem;

    --font-size-base: 1rem;

    --modal-close-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size-base);
    color: var(--color-green);
}

h1 {
    font-size: calc(var(--font-size-base) * 2);
    text-align: center;
}

h2 {
    font-size: calc(var(--font-size-base) * 1.5);
    text-align: center;
}

h3 {
    font-size: calc(var(--font-size-base) * 1.25);
}

h4 {
    font-size: calc(var(--font-size-base) * 1.125);
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}

.image-wrapper img {
    object-fit: cover;
}

.error {
    font-size: calc(var(--font-size-base) * 1.25);
    color: var(--color-orange);
    text-align: center;
}

header.hero {
    width: 100%;
    height: 100px;
    background-color: var(--color-green);
}

main>section {
    padding: var(--spacing-m) var(--spacing-m);
}

section#filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    select,
    input {
        padding: var(--spacing-xxs) var(--spacing-m);
    }

    select,
    select option,
    input {
        color: var(--color-orange);
    }

    & .input-group {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
    }

    & select {
        border: 1px solid var(--color-grey);
        background-color: var(--color-white);
    }
}

.search-input {
    border: 1px solid var(--color-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input {
        width: 100%;
        border: none;
    }

    & input:focus,
    input:focus-visible {
        outline: none
    }

    & button {
        border: none;
        height: 100%;
        width: 2rem;
        display: block;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & svg {
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--color-orange)
    }

    & button:disabled svg {
        fill: var(--color-grey-alpha)
    }
}

.search-input:has(input:focus),
.search-input:has(input:focus-visible) {
    border-color: var(--color-orange);
    outline: 2px solid var(--color-orange)
}


#recipe-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: var(--spacing-m);
}

select option:hover {
    background-color: var(--color-orange);
}

article:not(.detailed-recipe) {
    padding: var(--spacing-xs) var(--spacing-m);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
    border-radius: .5rem;
    box-shadow: 0 0 3px 1px var(--color-grey);

    & .image-wrapper {
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            height: 100%;
        }
    }

    & h3 {
        width: 100%;
        height: 20%;
        text-align: center;
        line-clamp: 1;
        color: var(--color-green);
    }

    .clamp {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

article:not(.detailed-recipe):hover {
    box-shadow: 0 0 3px 1px var(--color-orange);
    ;
}

.hidden {
    display: none !important;
}

#modal-background {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: var(--color-grey-alpha);
}

.no-scroll {
    overflow: hidden;
}

#modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 1rem;
    width: 90vw;
    height: 90vh;
    background-color: var(--color-white);
    overflow-y: scroll;

    & #modal-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: 1px solid var(--color-orange);
        height: var(--modal-close-size);
        width: var(--modal-close-size);
        color: var(--color-orange);
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    & #modal-content {
        margin-top: calc(var(--modal-close-size) + var(--spacing-s));
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    article.detailed-recipe {
        padding: var(--spacing-m) var(--spacing-m);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-l);

        & header,
        section {
            width: 100%;
        }

        & header {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs);

            & .meta {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            & span {
                color: var(--color-green);
                font-weight: bold;
            }

            & .image-wrapper {
                width: 100%;
                border-radius: 1rem;
                overflow: hidden;

                & img {
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;
                }
            }

            & .recipe-title {
                color: var(--color-orange);
            }
        }

        & section h3 {
            color: var(--color-green);
            text-decoration: underline var(--color-orange);
        }

        & section.ingredients {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-s);

            & ul {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xxs);
            }

            & li {
                position: relative;
                display: grid;
                grid-template-columns: 20px 4fr 8fr;
                align-items: center;

                & .ingredient-details {
                    position: absolute;
                    z-index: 10;
                    top: 125%;
                    width: 100%;
                    padding: var(--spacing-xs);
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--spacing-xs);
                    background-color: var(--color-white);
                    box-shadow: 0 0 5px 5px var(--color-grey);

                    & h4 {
                        color: var(--color-orange);
                    }
                }

                & .ingredient-name {
                    position: relative;
                }

                & .ingredient-name:hover {
                    cursor: pointer;
                    font-weight: bold;
                }

                & .ingredient-name:hover::before {
                    position: absolute;
                    top: -50%;
                    left: -1.75rem;
                    content: "\27A9";
                    font-size: calc(var(--font-size-base) * 1.5);
                    color: var(--color-orange);
                }

                & .ingredient-name:hover+.ingredient-details {
                    display: flex;
                }
            }

            & li:not(:last-child) {
                border-bottom: 1px solid var(--color-orange);
            }

            & li::before {
                content: "\2756";
                color: var(--color-orange);
            }
        }

        & section.instructions {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-s);
        }
    }
}